.Toolbar {
    height: 87px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    padding-left: 90px;
    padding-right: 40px;
    box-sizing: border-box;
    z-index: 90;
    color: black;
      box-shadow: 0 8px 6px -6px #f7f7f7;
}
.Toolbar nav {
    height: 100%;
    
}

.Logo {
height: 80%;
}

@media (max-width:600px) {
     .Toolbar {
       padding: 0;
    }
    .DesktopOnly {
        display: none;
    }
}